PACom/src/main/resources/MIAPE_PROJECT_XML_v1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="MIAPEProject">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Name" type="xs:string"/>
				<xs:element minOccurs="0" name="Date" type="xs:string"/>
				<xs:element minOccurs="0" name="Comments" type="xs:string"/>
				<xs:element minOccurs="0" name="OwnerName" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
